.tag.python { background-color: #4571a1; }
.tag.reactjs { background-color: #61dbfb; color: #000; }
.tag.covid { background-color: #cf5252; }
.tag.web-scrapping { background-color: #353535; }
.tag.closed-source { background-color: #db8844; color: #000; }