.slide-content#about {
    p {
        margin: 0;
        margin-bottom: 1.5em;
        font-weight: 300;
        color: #fff;
        font-size: 1rem;
    }

    .attribute {
        display: flex;
        align-items: center;
        margin: .7em;

        i {
            font-size: 1.8rem;
            margin-right: .2em;
            width: 1.5em;
            text-align: center;
        }
        span {
            font-size: 1.1rem;
        }
    }
}