@import './../../style/variables';

section.projects {
    .section-content {
        .project {
            display: flex;
            align-items: center;
            margin-top: 3em;
            margin-bottom: 3em;
            flex-wrap: wrap;

            .description {
                z-index: 1;
                flex: .8;
                
                h4 {
                    color: $accent-color;
                    font-size: 1.5rem;
                    margin: 0;
                    font-weight: 400;
                }

                p {
                    background-color: $secondary-color;
                    padding: 1.5em;
                    border-radius: .5em;
                    box-shadow: 0 0 30px 1px $box-shadow-color;
                    width: 120%;
                }

                .tags {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    span {
                        display: block;
                        font-size: .7rem;
                        border-radius: 10em;
                        padding: .4em .8em;
                        margin: .3em;
                        font-family: $secondary-font;
                    }
                }
            }

            .preview {
                display: block;
                flex: 1;
                min-width: 300px;
                aspect-ratio: 16 / 10;
                border-radius: .5em;
                background-size: 100%;
                background-position: top;
                transition: box-shadow .3s, transform .3s, background-size .3s;

                &:hover {
                    box-shadow: 10px 10px 0 0 $accent-color;
                    transform: translate(-5px, -5px);
                    background-size: 105%;
                }
            }

            .links {
                width: 100%;
                text-align: center;
                padding: 1.5em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .item {
                    transition: transform .3s;

                    a {
                        text-decoration: none;
                        color: $primary-font-color;
                        font-size: 1.5rem;
                        margin: .3em;
                        transition: transform .3s, color .3s;
                    }
                    
                    &:hover {
                        transform: translateY(-3px) !important;
                        a {
                            color: $accent-color;
                        }
                    }
                }
            }

            &.from-right {
                flex-direction: row-reverse;

                .description {
                    h4 {
                        text-align: right;
                    }

                    p {
                        transform: translateX(-25%);
                        text-align: right;
                    }

                    .tags {
                        justify-content: flex-end;
                    }
                }

                .preview {
                    &:hover {
                        box-shadow: -10px 10px 0 0 $accent-color;
                        transform: translate(5px, -5px);
                        background-size: 105%;
                    }
                }
            }
        }

        p.bottom-info {
            text-align: center;
            font-family: $secondary-font;
            color: $secondary-font-color;
            margin-top: 5em;
        }
    }
}