@import './../../style/variables';
@import './../../style/utils';

section.projects {
    .section-content {
        .project {
            display: flex;
            margin-top: 3em;
            margin-bottom: 3em;
            flex-wrap: wrap;

            .description {
                z-index: 1;
                flex: .8;
                
                h4 {
                    color: $accent-color;
                    font-size: 1.5rem;
                    margin: 0;
                    font-weight: 400;
                }

                p {
                    background-color: $secondary-color;
                    padding: 1.5em;
                    border-radius: .5em;
                    box-shadow: 0 0 30px 1px $box-shadow-color;
                    width: 120%;
                }

                .tags {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    span {
                        display: block;
                        font-size: .7rem;
                        border-radius: 10em;
                        padding: .4em .8em;
                        margin: .3em;
                        font-family: $secondary-font;
                    }
                }
            }

            .preview {
                display: block;
                flex: 1;
                min-width: 300px;
                aspect-ratio: 16 / 10;
                border-radius: .5em;
                background-size: 100%;
                background-position: top;
                transition: box-shadow .3s, transform .3s, background-size .3s, opacity 1s;
                opacity: 0;

                &:hover {
                    box-shadow: 10px 10px 0 0 $accent-color;
                    transform: translate(-5px, -5px);
                    background-size: 105%;
                }
            }

            .links {
                width: 100%;
                text-align: center;
                padding: 1.5em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                a {
                    width: 1.5em;
                    height: 1.5em;
                    display: block;
                    text-decoration: none;
                    margin: .3em;

                    svg {
                        @include svg-primary-color;
                        width: 100%;
                        height: auto;
                        transition: transform .3s;
                    }

                    &:hover {
                        svg {
                            @include svg-accent-color;
                            transform: translateY(-3px);
                        }
                        
                    }
                }
            }

            @media (min-width: 1000px) {
                &.from-right {
                    flex-direction: row-reverse;
    
                    .description {
                        h4 {
                            text-align: right;
                        }
    
                        p {
                            transform: translateX(-25%);
                            text-align: right;
                        }
    
                        .tags {
                            justify-content: flex-end;
                        }
                    }
    
                    .preview {
                        &:hover {
                            box-shadow: -10px 10px 0 0 $accent-color;
                            transform: translate(5px, -5px);
                            background-size: 105%;
                        }
                    }
                }   
            }

            &.visible {
                .description .tags div {
                    $time: 3s;
                    $start-offset: 30;
                    $next-offset: 7;
                    $single-animation-time: 20;
                    $max-elements: 10;

                    @for $i from 1 through $max-elements {
                        &:nth-child(#{$i}) {
                            animation: tags#{$i} $time;
                        }

                        @include keyframes-animation(tags#{$i}) { 
                            #{0%}, #{$next-offset * $i + $start-offset}% {
                                 opacity: 0; 
                            } 
                            #{$next-offset * $i + $single-animation-time + $start-offset}% { 
                                opacity: 1; 
                            } 
                        }
                    }
                }
                
                .preview {
                    opacity: 1;
                    @media (min-width: $min-mobile-screen-width) { animation: preview-animation 1s; }

                    @include keyframes-animation(preview-animation) {
                        from { transform: translateX(200%); }
                    }
                }

                &.from-right {
                    .preview {
                        @media (min-width: $min-mobile-screen-width)  { animation: preview-animation-from-right 1s; }

                        @include keyframes-animation(preview-animation-from-right) {
                            from { transform: translateX(-200%); }
                        }
                    }
                }
            }
        }

        p.bottom-info {
            text-align: center;
            font-family: $secondary-font;
            color: $secondary-font-color;
            margin-top: 5em;
        }
    }
}

@media screen and (max-width: 1000px) {
    section.projects {
        .section-content {
            .project {
                flex-direction: column;
                flex-wrap: nowrap;
                gap: 1em;

                .description {
                    p {
                        width: auto;
                    }
                }

                .links {
                    padding: 0;
                }
            }
        }
    }
}