@import "./../../style/variables";
@import "./../../style/utils";

nav {
    @include keyframes-animation(nav-bar) {
        0%,
        20% {
            transform: translateY(-5em);
        }
        30% {
            transform: translateY(0px);
        }
    }

    top: 0;
    left: 0;
    padding: 1.5em;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #0e1725d9;
    backdrop-filter: blur(10px);
    animation: nav-bar $animation-time;
    z-index: 5;
    transition: box-shadow 0.3s;

    &.down {
        box-shadow: 0 0 15px 1px $box-shadow-color;
    }

    a {
        margin: 0 1.5em;
        position: relative;
        cursor: pointer;
        color: $primary-font-color;
        text-decoration: none;

        &::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 2px;
            background-color: $accent-color;
            left: 50%;
            transform: translateX(-50%);
            bottom: -10px;
            transition: opacity 0.3s;
            opacity: 0;
        }

        &.active::after {
            opacity: 1;
        }
    }
}

@media screen and (max-width: $min-mobile-screen-width) {
    nav {
        justify-content: center;

        a {
            margin: 0 1em;
        }
    }
}
