@import './../../style/variables';
@import './../../style/utils';

.socials {
    position: fixed;
    left: 0;
    padding: 1em;
    top: 50%;
    transform: translateY(-50%);
    animation: socials $animation-time;
    display: flex;
    flex-direction: column;

    .social-icon {
        width: 1.7em;
        height: 1.7em;
        margin: .4em;
        display: block;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        justify-content: center;

        svg {
            @include svg-primary-color;
            height: 100%;
            width: 100%;
            transition: transform .3s;
        }

        &:hover {
            svg {
                @include svg-accent-color;
                transform: translateY(-3px);
            }
        }
    }

    @include keyframes-animation(socials) {
        0%, 30% {
            left: -100%;
        }
        40% {
            left: 0;
        }
    }

    &::before, &::after {
        position: absolute;
        content: '';
        height: 5em;
        width: 1px;
        background-color: $border-color;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        @include keyframes-animation(socials-sudo-elements) {
            0%, 40% {
                height: 0;
                top: 0;
            }
            50% {
                height: 5em;
                top: -5em;
            }
        }

        top: -5em;
        animation: socials-sudo-elements $animation-time;
    }

    &::after {
        @include keyframes-animation(socials-sudo-elements2) {
            0%, 40% {
                height: 0;
                bottom: 0;
            }
            50% {
                height: 5em;
                bottom: -5em;
            }
        }

        bottom: -5em;
        animation: socials-sudo-elements2 $animation-time;
    }
}