@import "./../../style/variables";
@import "./../../style/utils";

.socials {
    position: fixed;
    left: 0;
    padding: 1em;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 5;

    @media (min-width: $min-mobile-screen-width) {
        animation: socials $animation-time;
    }

    .social-icon {
        width: 1.7em;
        height: 1.7em;
        margin: 0.4em;
        display: block;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        justify-content: center;

        svg {
            @include svg-primary-color;
            height: 100%;
            width: 100%;
            transition: transform 0.3s;
        }

        &:hover {
            svg {
                @include svg-accent-color;
                transform: translateY(-3px);
            }
        }
    }

    @include keyframes-animation(socials) {
        0%,
        30% {
            left: -100%;
        }
        40% {
            left: 0;
        }
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        height: 5em;
        width: 1px;
        background-color: $border-color;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        @include keyframes-animation(socials-sudo-elements) {
            0%,
            40% {
                height: 0;
                top: 0;
            }
            50% {
                height: 5em;
                top: -5em;
            }
        }

        top: -5em;
        animation: socials-sudo-elements $animation-time;
    }

    &::after {
        @include keyframes-animation(socials-sudo-elements2) {
            0%,
            40% {
                height: 0;
                bottom: 0;
            }
            50% {
                height: 5em;
                bottom: -5em;
            }
        }

        bottom: -5em;
        animation: socials-sudo-elements2 $animation-time;
    }
}

@media screen and (max-width: $min-mobile-screen-width) {
    .socials {
        bottom: 0;
        left: 0;
        right: 0;
        top: unset;
        transform: translateY(0px);
        flex-direction: row;
        justify-content: center;
        background-color: $primary-color;
        padding: 0.5em;
        box-shadow: 0 0 15px 1px $box-shadow-color;
        backdrop-filter: blur(10px);
        background-color: #0e1725d9;

        &::before,
        &::after {
            display: none;
        }
    }
}
