@import "./../../style/variables";
@import "./../../style/utils";

section.about {
    .section-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3em;

        .text {
            flex: 1;
            min-width: 15em;

            h4 {
                font-weight: 400;
                margin-bottom: 0;
            }

            p {
                margin-top: 0;
            }
        }

        .profile-picutre {
            width: 15em;
            height: auto;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                border-radius: 50%;
                border: 3px solid $accent-color;
                top: -0.5em;
                bottom: -0.5em;
                left: -0.5em;
                right: -0.5em;
                animation: profile-picture-pulsing 3s infinite linear;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                user-select: none;
            }
        }
    }
}
