@import './../../style/variables';

footer {
    padding: 1.5em;
    text-align: center;

    span {
        padding: 1em;
        position: relative;

        &::after {
            position: absolute;
            content: '•';
            top: 50%;
            transform: translateY(-50%);
            right: -4px;   
        }

        &:last-child::after {
            content: '';
        }

        a {
            color: $primary-font-color;
            text-decoration: none;
        }
    }
}