@mixin keyframes-animation($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin svg-primary-color {
    * {
        fill: $primary-font-color;
        transition: fill .3s;
    }
}

@mixin svg-accent-color {
    * {
        fill: $accent-color;
    }
}