// colors
$primary-color: #0d1624;
$secondary-color: #1c2138;
$primary-font-color: #fff;
$secondary-font-color: #b9b9b9;
$accent-color: #739ae0;
$border-color: #2c334d;
$box-shadow-color: #0000005b;

// fonts
$primary-font: "Lato", sans-serif;
$secondary-font: "Inconsolata", monospace;

// others
$animation-time: 4s;
$min-mobile-screen-width: 800px;
