@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

$primary-color: #0d1624;
$secondary-color: #fff;
$accent-color: #739ae0;

$animation-time: 4s;

body {
    margin: 0;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: 'Lato', sans-serif;
}

@mixin keyframes-animation($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

.nav-bar {
    @include keyframes-animation(nav-bar) {
        0%, 20% {
            transform: translateY(-5em);
        }
        30% {
            transform: translateY(0px);
        }
    }

    top: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: row;
    animation: nav-bar $animation-time;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 auto;
        position: relative;
        padding-top: 2em;

        .sections {
            display: flex;

            .section {
                margin: 0 10vw;
    
                &:first-child {
                    margin-left: 0;
                }
    
                &:last-child {
                    margin-right: 0;
                }
                
                a {
                    width: 10px;
                    height: 10px;
                    background-color: $accent-color;
                    border-radius: 50%;
                    position: relative;
                    display: block;
                    text-decoration: none;
                    color: $secondary-color;
    
                    &::after {
                        @include keyframes-animation(step-pulsing-point) {
                            from {
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                opacity: 1;
                            }
                            to {
                                top: -5px;
                                bottom: -5px;
                                left: -5px;
                                right: -5px;
                                opacity: 0;
                            }
                        }

                        position: absolute;
                        content: '';
                        border-radius: 50%;
                        border: 1px solid $accent-color;
                        animation: step-pulsing-point 1s infinite linear;
                    }

                    span {
                        @include keyframes-animation(step-tooltip) {
                            0%, 25% {
                                opacity: 0;
                            }
                            50% {
                                opacity: 1;
                            }
                        }
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: calc(100% + .5em);
                        animation: step-tooltip $animation-time;
                    }
                }
            }
        }

        .progress-bar {
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $accent-color;
            bottom: 4px;
        }
    }
}

.socials {
    position: fixed;
    left: 0;
    padding: 1em;
    top: 50%;
    transform: translateY(-50%);
    animation: socials $animation-time;

    @include keyframes-animation(socials) {
        0%, 30% {
            left: -100%;
        }
        40% {
            left: 0;
        }
    }

    &::before, &::after {
        position: absolute;
        content: '';
        height: 5em;
        width: 1px;
        background-color: #575757;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        @include keyframes-animation(socials-sudo-elements) {
            0%, 40% {
                height: 0;
                top: 0;
            }
            50% {
                height: 5em;
                top: -5em;
            }
        }

        top: -5em;
        animation: socials-sudo-elements $animation-time;
    }
    &::after {
        @include keyframes-animation(socials-sudo-elements2) {
            0%, 40% {
                height: 0;
                bottom: 0;
            }
            50% {
                height: 5em;
                bottom: -5em;
            }
        }

        bottom: -5em;
        animation: socials-sudo-elements2 $animation-time;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 1.5rem;
            margin: .5em;
            text-align: center;

            a {
                color: $secondary-color;
                transition: color .3s;

                i {
                    transition: transform .3s;
                }
            }

            &:hover {
                a {
                    color: $accent-color;

                    i {
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }
}

header {
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        @include keyframes-animation(greetings) {
            0% {
                transform: translateY(50px);
                opacity: 0;
            }
            15% {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        color: $accent-color;
        margin: 0;
        font-size: 1.1rem;
        animation: greetings $animation-time;
    }

    h1 {
        @include keyframes-animation(fullname) {
            0%, 10% {
                transform: translateY(50px);
                opacity: 0;
            }
            25% {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        font-family: 'Lato', sans-serif;
        font-size: 5rem;
        font-weight: 900;
        margin: 0;
        text-shadow: 5px 5px 0 $accent-color;
        animation: fullname $animation-time;
    }

    h2 {
        @include keyframes-animation(title) {
            0%, 30% {
                visibility: hidden;
            }
        }
        font-size: 2rem;
        color: #b9b9b9;
        margin: 0;
        margin-top: .3em;
        font-family: 'Inconsolata', monospace;
        font-weight: normal;
        animation: title $animation-time;
    }

    button {
        @include keyframes-animation(explore-button) {
            0%, 70% {
                transform: translateY(50px);
                opacity: 0;
            }
            80% {
                transform: translateY(0px);
                opacity: 1;
            }
        }
        width: fit-content;
        padding: 1em 2em;
        background-color: none;
        background: transparent;
        outline: none;
        border: 1px solid $accent-color;
        font-family: 'Inconsolata', monospace;
        margin: 5em auto 0 auto;
        font-size: 1rem;
        cursor: pointer;
        color: #b9b9b9;
        transition: color .3s, box-shadow .3s;
        border-radius: 5px;
        animation: explore-button $animation-time;

        &:hover {
            color: $secondary-color;
            box-shadow: 3px 3px 0 0 $accent-color;
        }
    }
}