@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import './variables';

body {
    margin: 0;
    background-color: $primary-color;
    color: $primary-font-color;
    font-family: 'Lato', sans-serif;
    height: 200rem;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}