@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import './variables';

body {
    margin: 0;
    background-color: $primary-color;
    color: $primary-font-color;
    font-family: $primary-font;
    font-weight: 300;
}

section, footer {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 20em;

    .header {
        display: flex;
        align-items: center;

        h3 {
            font-size: 2rem;
            position: relative;
            margin: .5em 0;
        }

        .break-line {
            height: 1px;
            background-color: $border-color;
            flex: 1;
            margin-left: 2em;
        }
    }
}

.btn {
    padding: 1em 2em;
    background-color: none;
    background: transparent;
    outline: none;
    border: 1px solid $accent-color;
    font-family: $secondary-font;
    margin: 0 auto;
    font-size: 1rem;
    cursor: pointer;
    color: $secondary-font-color;
    transition: color .3s, box-shadow .3s;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    display: block;

    &:hover {
        color: $primary-font-color;
        box-shadow: 3px 3px 0 0 $accent-color;
    }
}