@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato:wght@300;400;900&display=swap");
@import "./variables";

body {
    margin: 0;
    background-color: $primary-color;
    color: $primary-font-color;
    font-family: $primary-font;
    font-weight: 300;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: $primary-color;
}

::-webkit-scrollbar-thumb {
    background: $secondary-font-color;
    border-radius: 10px;
    border: 5px solid $primary-color;
}

::-webkit-scrollbar-thumb:hover {
    background: $accent-color;
}

.btn {
    padding: 1em 2em;
    background-color: none;
    background: transparent;
    outline: none;
    border: 1px solid $accent-color;
    font-family: $secondary-font;
    margin: 0 auto;
    font-size: 1rem;
    cursor: pointer;
    color: $secondary-font-color;
    transition: color 0.3s, box-shadow 0.3s;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    display: block;

    &:hover {
        color: $primary-font-color;
        box-shadow: 3px 3px 0 0 $accent-color;
    }
}
