section.main {
    .waves {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        aspect-ratio: 960/300;
        width: 100%;

        &:first-child {
            background-image: url('./../svg/waves2.svg');
        }

        &:last-child {
            background-image: url('./../svg/waves.svg');
            transform: rotate(180deg);
        }
    }

    .wrapper {
        background: linear-gradient(180deg, #2c3e50, #3498db);
        display: flex;

        .code-animation {
            padding-right: 5em;
            padding-left: 2em;
            flex: 1;

            .code-container {
                height: 25rem;
                background-color: #2c303d;
                position: sticky;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 1em;
                border: 1px solid #7a7a7a;
                box-shadow: 0 0 50px 5px #00000073;
        
                .top-bar {
                    display: flex;
                    flex-direction: row;
                    padding: .5em;
        
                    div {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        margin: .3em;
        
                        &.red { background-color: #FF605C; }
                        &.yellow { background-color: #FFBD44; }
                        &.green { background-color: #00CA4E; }
                    }
                }
        
                .code {
                    padding: .5em 1.5em;
        
                    pre {
                        background-color: transparent !important;
                        margin: 0 !important;
                        padding: 0 !important;
        
                        code {
                            font-family: monospace !important;
                                line-height: 1rem !important;
                                font-size: .9rem;
                            
                            span {
                                font-family: monospace !important;
                                line-height: 1rem !important;
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }
    
        .slides {
            display: flex;
            flex-direction: column;
            margin-top: 20em;
            padding-left: 5em;
            padding-right: 2em;
            flex: .8;

            .slide {
                position: relative;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 20em);
                gap: 30vh;
                margin-bottom: 100vh;

                h2 {
                    font-weight: 900;
                    margin: 0;
                    color: #fff;
                    font-size: 3rem;
                }
            
                p {
                    margin: 0;
                    font-weight: 300;
                    color: #fff;
                    font-size: 1.1rem;
                }

                div {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    .item {
                        width: 50px;
                        height: 50px;
                        margin: .5em;
            
                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }   
                }

                > *  {
                    position: sticky;
                    top: 50%;
                    transform: translateY(-50%);
                    // top: 25vh;
                    padding-top: 0px;

                    &:nth-child(2) {
                        padding-top: 60px;
                    }

                    &:nth-child(3) {
                        padding-top: 120px;
                    }
                }
            }

        }
    }
}
