@import "./../../style/variables";
@import "./../../style/utils";

header {
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10em;
    padding-right: 10em;
    margin-bottom: 5em;

    p {
        @include keyframes-animation(greetings) {
            0% {
                transform: translateY(50px);
                opacity: 0;
            }
            15% {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        color: $accent-color;
        margin: 0;
        font-size: 1.1rem;
        animation: greetings $animation-time;
    }

    h1 {
        @include keyframes-animation(fullname) {
            0%,
            10% {
                transform: translateY(50px);
                opacity: 0;
            }
            25% {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        font-size: 5rem;
        font-weight: 900;
        margin: 0;
        text-shadow: 5px 5px 0 $accent-color;
        animation: fullname $animation-time;
    }

    h2 {
        @include keyframes-animation(title) {
            0%,
            30% {
                visibility: hidden;
            }
        }

        font-size: 2rem;
        color: $secondary-font-color;
        margin: 0;
        margin-top: 0.3em;
        font-family: $secondary-font;
        font-weight: normal;
        animation: title $animation-time;
    }

    .btn {
        @include keyframes-animation(explore-button) {
            0%,
            70% {
                transform: translateY(50px);
                opacity: 0;
            }
            80% {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        width: fit-content;
        margin: 5em auto 0em auto;
        animation: explore-button $animation-time;

        &:hover {
            color: $primary-font-color;
            box-shadow: 3px 3px 0 0 $accent-color;
        }
    }
}

@media screen and (max-width: $min-mobile-screen-width) {
    header {
        padding-left: 2em;
        padding-right: 2em;

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    }
}
